/* Simplified styles for better compatibility */

div.error-container {
    position: absolute;
    right: 3em;
    top: 3em;
    width: 25em;
}

.entity-info {
    font-style: italic;
    font-size: smaller;
}

/* ui.bootstrap */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.row.door-buttons .btn {
    white-space: normal;
}

.row.door-buttons {
    margin-bottom: 15px;
}

.door-buttons-flex {
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
  row-gap: 15px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.door-buttons-flex .btn {
  width: 100%;
  max-width: 300px;
}

/* Avatar on navbar */
.header-avatar {
    border-radius: 50%;
    padding-right: 2px;
}

.navbar-collapse > ul > li > a.dropdown-toggle {
    padding-top: 11px;
    padding-bottom: 0px;
}

/* Public profile */
.user-detail-header {
    margin-bottom: 50px;
}

.user-detail-header img {
    border-radius: 50%;
    margin-right: 20px;
}

.user-detail-header div {
    display: inline-block;
    vertical-align: middle
}

.user-detail-header h2 {
    margin-top: 0;
}

.user-detail-contact-info {
    margin-bottom: 40px;
}

.user-detail-contact-info .form-group {
    margin-bottom: 0;
}

ul {
  line-height: 2.5rem;
}

ul li::marker {
  color: rgba(0, 0, 0, 0.3);
}

ul.no-padding {
  padding-left: 0;
  list-style: none;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 0;
  border-top: 1px solid #eee;
}

.btn:focus {
  outline: none !important;
}

.underline-button {
  border-bottom: 2px solid #007bff;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.tools-buttons-table > tbody > tr > td {
  border-top: none;
  max-width: 100px;
}

.tools-buttons-table .btn {
  line-height: 2rem;
  width: 100%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-inline-badges > li {
  margin-bottom: 15px;
}

.panel-clickable:hover {
  cursor: pointer;
  background-color: rgba(188, 232, 241, 0.125);
}
